nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--header);
}
nav li .nav-link{
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text);
  background-color: var(--header);
  text-decoration: none;
}
.nav-link:hover {
  color: var(--accent);
  text-decoration: underline;
}
nav li {
  float: left;
}
nav ul {
  list-style: none;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
header .login-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.login{
  width: 50px;
  background-color: var(--header);
  margin-right: 2rem;
  border-radius: 50px;
}
.login-link{
  background-color: var(--header);
  padding: 1rem;
}
.nav-user{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.nav-user span{
  background-color: transparent;

}
.nav-user button{
  background-color: var(--secondary);
  color: var(--text);
  border: none;
  border-radius: 8px;
  margin-right: 2rem;
  padding: .5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.nav-user button:hover {
  background-color: var(--accent);
}

